<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>

  <ul id="list">
    <li>あいうえお</li>
    <li>かきくけこ</li>
    <li>さしすせそ</li>
    <li>たちつてと</li>
  </ul>

  <h2>上記のようにjsから要素を追加してみよう！！</h2>
  <ul class="japanese-list">
    <li>かきくけこ</li>
    <li>さしすせそ</li>
  </ul>
  <script src="../js/q5.js"></script>
</html>
