<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>

  <main>
    <div>
      <button class="open-modal">モーダルテストボタン</button>
    </div>

    <div class="modal">
      <a href="#" class="overlay"></a>

      <div class="modal-content">
        <h2>モーダルテスト</h2>
        <button class="close-modal">閉じる</button>
      </div>
    </div>
  </main>
  <script src="../js/q6.js"></script>
</html>
